<section class="container-fluid auth-section">
	<div class="row min-vh-100">
		<div class="col-md-5">
			<nav class="navbar navbar-light">
				<a class="navbar-brand" [routerLink]="[routes.root]">
					<!-- <img class="img-fluid w-100" src="assets/img/onetablogo_mobile.svg" alt="1tab Vendor"> -->
					Logo
				</a>
			</nav>
			<div class="d-flex flex-column justify-content-center m-auto form-content">
				<div class="m-auto">
					<div class="p-2">
						<ng-container *ngIf="screen === 1">
							<h5 class="my-2 text-center">Create an account</h5>
							<p class="text-center mb-2">A quick and easy way to stay connected with your friends and family.</p>
						</ng-container>
						<ng-container *ngIf="screen === 2">
							<a href="javascript:;" (click)="previousScreen(1)" class="back-link">
								<i class="fa fa-angle-left me-2" aria-hidden="true"></i>Back
							</a>
							<h5 class="mt-5 mb-2 text-center">OTP Verification</h5>
							<p class="text-center mb-2">
								We have sent a verification code to your phone number. Please enter the verification
								code below.
							</p>
						</ng-container>
					</div>
					<div class="p-2">
						<form class="auth-form" [formGroup]="form">
							<ng-container *ngIf="screen === 1">
								<div class="py-2">
									<input type="text" class="form-control" placeholder="Full name" formControlName="name">
									<div *ngIf="isSubmitting && formData.name.errors" class="err">
										<div *ngIf="formData.name.errors.required">*Name is required.</div>
									</div>
								</div>
								<div class="py-2">
									<input type="email" class="form-control" placeholder="Email" formControlName="email">
									<div *ngIf="isSubmitting && formData.email.errors" class="err">
										<div *ngIf="formData.email.errors.required">*Email is required.</div>
										<div *ngIf="formData.email.errors.pattern">*Invalid email.</div>
									</div>
								</div>
								<div class="py-2">
									<ngx-intl-tel-input [cssClass]="'form-control'" [preferredCountries]="telCodeOptions.preferredCountries"
										[enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
										[searchCountryField]="[telCodeOptions.SearchCountryField.Iso2, telCodeOptions.SearchCountryField.Name]" 
										[selectFirstCountry]="false" [selectedCountryISO]="telCodeOptions.CountryISO.India" [maxLength]="'15'"
										[phoneValidation]="true" [separateDialCode]="false" [numberFormat]="telCodeOptions.PhoneNumberFormat.International" 
										formControlName="mobile">
									</ngx-intl-tel-input>
									<div *ngIf="isSubmitting && formData.mobile.errors" class="err">
										<div *ngIf="formData.mobile.errors.required">*Mobile number is required.</div>
										<div *ngIf="formData.mobile.errors.validatePhoneNumber">*Invalid mobile number.</div>
									</div>
								</div>
								<div class="py-2">
									<input type="password" class="form-control" placeholder="Password" formControlName="password">
									<div *ngIf="isSubmitting && formData.password.errors" class="err">
										<div *ngIf="formData.password.errors.required">*Password is required.</div>
									</div>
								</div>
								<div class="py-2">
									<label class="custom-checkbox-container mb-0">
										I agree to <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy</a>.
										<input type="checkbox" formControlName="terms">
										<span class="checkmark"></span>
									</label>
									<div *ngIf="isSubmitting && formData.terms.errors" class="err">
										<div *ngIf="formData.terms.errors.required">*Please agree with the terms and policy.</div>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="screen === 2">
								<otp [setting]="otpSettings" (onValueChange)="onInputChange($event)"></otp>
							</ng-container>
							<div class="d-grid gap-2 mt-3">
								<button class="btn btn_primary btn-block p-2" *ngIf="screen === 1" (click)="getOtp()">Get OTP</button>
							</div>
						</form>
						<div class="mt-3 form-footer" *ngIf="screen === 1">
							Already have an account? 
							<a href="javascript:;" [routerLink]="[routes.previous + routes.login]">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 d-none d-md-block p-0">
			right
		</div>
	</div>
</section>