<section class="container-fluid auth-section">
	<div class="row min-vh-100">
		<div class="col-md-5">
			<nav class="navbar navbar-light">
				<a class="navbar-brand" [routerLink]="[routes.root]">
					<!-- <img class="img-fluid w-100" src="assets/img/onetablogo_mobile.svg" alt="1tab Vendor"> -->
					Logo
				</a>
			</nav>
			<div class="d-flex flex-column justify-content-center m-auto form-content">
				<div class="m-auto">
					<div class="p-2">
						<ng-container *ngIf="screen === 1">
							<h5 class="my-2 text-center">Forgot Your Password</h5>
							<p class="text-center mb-2">No worries! enter your mobile number to proceed.</p>
						</ng-container>
						<ng-container *ngIf="screen === 2">
							<a href="javascript:;" (click)="screen = 1" class="back-link">
								<i class="fa fa-angle-left me-2" aria-hidden="true"></i>Back
							</a>
							<h5 class="mt-5 mb-2 text-center">Set New Password</h5>
							<p class="text-center mb-2">Choose new password to proceed.</p>
						</ng-container>
						<ng-container *ngIf="screen === 3">
							<a href="javascript:;" (click)="screen = 1" class="back-link">
								<i class="fa fa-angle-left me-2" aria-hidden="true"></i>Back
							</a>
							<h5 class="mt-5 mb-2 text-center">OTP Verification</h5>
							<p class="text-center mb-2">
								We have sent a verification code to your mobile number. Please enter the verification
								code below and veriy its you.
							</p>
						</ng-container>
					</div>
					<div class="p-2">
						<form class="auth-form" [formGroup]="form">
							<ng-container *ngIf="screen === 1">
								<div class="py-2">
									<ngx-intl-tel-input [cssClass]="'form-control'" [preferredCountries]="telCodeOptions.preferredCountries"
										[enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
										[searchCountryField]="[telCodeOptions.SearchCountryField.Iso2, telCodeOptions.SearchCountryField.Name]" 
										[selectFirstCountry]="false" [selectedCountryISO]="telCodeOptions.CountryISO.India" [maxLength]="'15'"
										[phoneValidation]="true" [separateDialCode]="false" [numberFormat]="telCodeOptions.PhoneNumberFormat.International" 
										formControlName="mobile">
									</ngx-intl-tel-input>
									<div *ngIf="isSubmitting && formData.mobile.errors" class="err">
										<div *ngIf="formData.mobile.errors.required">*Mobile number is required.</div>
										<div *ngIf="formData.mobile.errors.validatePhoneNumber">*Invalid mobile number.</div>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="screen === 2">
								<div class="py-2">
									<input type="password" class="form-control" placeholder="Password"
										formControlName="password">
									<div *ngIf="isSubmitting && formData.password.errors" class="err">
										<div *ngIf="formData.password.errors.required">*Password is required.</div>
										<div *ngIf="formData.password.errors.minlength">*Password should be minimum 6 character long.</div>
									</div>
								</div>
								<div class="py-2">
									<input type="password" class="form-control" placeholder="Confirm Password"
										formControlName="cpassword">
									<div *ngIf="isSubmitting && formData.cpassword.errors || form.errors" class="err">
										<div *ngIf="formData.cpassword.errors?.required">*Password is required.</div>
										<div *ngIf="form.errors?.mismatch">*Password does not match.</div>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="screen === 3">
								<otp [setting]="otpSettings" (onValueChange)="onInputChange($event)"></otp>
							</ng-container>
							<div class="d-grid gap-2 mt-3">
								<button class="btn btn_primary p-2" *ngIf="screen === 1" (click)="nextScreen(2)">Proceed</button>
								<button class="btn btn_primary p-2" *ngIf="screen === 2" (click)="nextScreen(3)">Get OTP</button>
								<!-- <button class="btn btn_primary p-2" *ngIf="screen === 3" (click)="submit()">Submit</button> -->
							</div>
						</form>
						<!-- <div class="mt-3 form-footer" *ngIf="screen === 1">
							Not registered yet? 
							<a href="javascript:;" [routerLink]="[routes.previous + routes.signUp]">Create an account</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>