@import "./variable";
@import "./mixins";
@import "./responsive";
@import "./btn";
@import "./form";

body {
    font-family: $font-family-sans-serif;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    color: #444444;
    font-size: map-get($fontSize, small);
}

// text messages
.err {
    color: map-get(map-get($palette, red), base);
    font-size: map-get($fontSize, mini);
    margin-top: 0.25rem;
}
.success {
    color: map-get(map-get($palette, green), base);
    font-size: map-get($fontSize, mini);
    margin-top: 0.25rem;
}
// ---------------------------------------------------------

// auth layouts
.auth-container {
    .auth-section {
        .form-content {
            @include verticalHeight(75vh);

            & > div {
                width: 400px;
            }

            .back-link {
                color: map-get(map-get($palette, purple), base);
            }
            
            .forgot-link {
                a {
                    color: map-get(map-get($palette, purple), base);
                }
            }

            form.auth-form {
                .btn-grp {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .form-footer {
                text-align: center;
                a {
                    color: map-get(map-get($palette, purple), base);
                }
            }
        }
    }
}
// ---------------------------------------------------------